<header class="header">
  <a routerLink="/" class="brand">
    <span class="brand__icon" aria-hidden="true">
      <i class="fa-solid fa-suitcase"></i>
    </span>
    <span class="brand__name">TourPlaner</span>
  </a>

  <div class="header__center">
    <label class="sr-only" for="tour-search">Suche</label>
    <div class="search">
      <span class="search__icon" aria-hidden="true">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        id="tour-search"
        type="search"
        class="search__input"
        placeholder="Touren durchsuchen…"
        [value]="searchQuery()"
        (input)="onSearchInput($event)"
      />
    </div>
    <a routerLink="/tours/new" class="btn btn--primary">+ Neue Tour</a>
  </div>

  <div class="header__right">
    <div class="user-menu">
      <button
        class="avatar"
        (click)="toggleDropdown()"
        [attr.aria-expanded]="dropdownOpen()"
        aria-haspopup="true"
        [title]="username"
      >{{ initial }}</button>

      @if (dropdownOpen()) {
        <div class="user-menu__dropdown">
          <div class="user-menu__info">
            <span class="user-menu__initial">{{ initial }}</span>
            <span class="user-menu__name">{{ username }}</span>
          </div>
          <hr class="user-menu__divider" />
          <button class="user-menu__logout" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            Abmelden
          </button>
        </div>
      }
    </div>
  </div>
</header>
